telethon
cryptg
requests
pyrogram==1.4.16
py-tgcalls
tglogging
sqlalchemy
tgcrypto
python-dotenv
motor
telegraph
requests
aiohttp
aiofiles
asyncio
wget 
ffmpeg-python
ujson
psutil
future
dnspython
OpenCC
pillow
hachoir
dnspython
pyromod
psutil
ffmpeg
future
pymongo[srv]
bs4
telethon
python-dotenv
telegram
